/*

h1, h3 {
  color: rgb(255, 255, 255);
    text-align: center  ;
}

body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    
}

.upperBox {}

.firstBox {
  margin-top: 5em ;
  margin-left: 34em;
    /*top: 26%;
    left: 30%;
    position: absolute;    border: 5px solid;
    border-color: white;
    padding: 1rem;
} 

img {
    margin: 0%;
    padding: 0%;
    width: 25rem;
    height: 25rem;
    
}

/*
html, body { height: 100%; }

.parent {
  height: 200px;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  background-color: orange;

}
*/
/*
h1, h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

body {
  background-color: black;
  margin: 0%;
  padding: 0%;
}

.upperBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstBox {
  margin-top: 5em;
  margin-left: 34em;
  top: 26%;
  left: 30%;
  position: absolute;
  border: 5px solid;
  border-color: white;
  padding: 1rem;
}

img {
  margin: 0%;
  padding: 0%;
  width: 25rem;
  height: 25rem;
}

.texts {
  text-align: center;
  margin-top: 1em; /* Adjust the margin to your preference *//*
}
*/

/*
h1, h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.upperBox {
  position: relative;
}

.firstBox {
  margin-top: 5em;
  margin-left: 34em;
  position: absolute;
  border: 5px solid white;
  padding: 1rem;
}

img {
  margin: 0;
  padding: 0;
  width: 25rem;
  height: 25rem;
  display: block; /* To remove extra space below the image */
 /* border: 1px solid white; /* Optional: Add a border to the image */
/*}

.texts {
  text-align: center;
  margin-top: 30em;
  margin-left: 15em;
  position: absolute;
}

*/
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
/*
body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
*/
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* ************************************************ */ 

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

/* adjust the height of carousel*/
.carousel-item-faq {
  height: 28rem;
}
/*
.custom-nav li{
  margin-right: 3rem !important; /* Adjust the margin as needed */

/*
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}
/*


section {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 85% !;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
*/